.footerRoot {
    background-color: #264653;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}

ul{
    padding-inline-start:none !important;
}
.aboutus-listItem{
    color:#ce2727;
    text-decoration: none;
    list-style-type: none;
}

.listLink:hover{
    color:#769ED2;
    text-decoration: none;
    list-style-type: none;
    /* text-shadow: 0px 1px 2px #fff */
}

ul.li:hover{
    color:#1D58A8;

}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.contactus {
    font-size: small;
}
.list {
    text-decoration: none;
    list-style-type: none;
}

.listLink {
    text-decoration: none;
    list-style-type: none;
    color:#fff
}
.nav-menu-footer {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: flex-start;
    width: 50vw;
    justify-content: start;
    margin-left: 1rem;
}

.social {
    display: flex;
    margin:0;
    padding: 0;
    justify-content: flex-start;
}

#footer-linkedin {
    display: flex;
    margin:0;
    padding: 0;
    justify-content: flex-start;
    color:#fff;
}

#footer-linkedin:hover {
    color:#0e76a8;
}

#footer-twitter {
    display: flex;
    margin-left:1rem;
    padding: 0;
    justify-content: flex-start;
    color:#fff;
}

#footer-twitter:hover {
    color:#1da1f2;

}

#footer-facebook {
    display: flex;
    margin-right:1rem;
    padding: 0;
    justify-content: flex-start;
    color:#fff;
}

#footer-facebook:hover {
    color:#4d77c9;
}

.donate-footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    /* color:white */
}

.join-footer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.donate-button-footer {
    margin: 0;
}
.amazon-logo-footer {
    margin: 1em 0em;
    height: auto;
    max-width: 100px;
}
.logo-footer {
    height:20rem;
    width: auto;
    margin-left: 3rem;
}

.irsLink {
    color:#fff
}

.copyright {
    text-align: center;
}
.non-profit {
    text-align: center;
    color:#fff;
}

